
	* {  margin:0;  padding:0; 
		font-family: "SFUIText", sans-serif;
	}

	body {
		color:#3a3a3a;
		background-color:#f6f8fa;
		user-select: none;
	}
	
	h1 {
		font-size: 2em;
		padding-top: 0.3em;
		padding-bottom: 0.5em;
	}
	
	canvas {
		float:left;
		position:absolute;
		background-image:url("../asset/grid.png");
	}
	
	button {
		font-size: 1em;
		background-color: #9656d9;
		color: white;
		border: none;
		padding: 0.2em 0.7em;
		font-weight:bold;
		cursor:pointer;
		border-radius: 0.3em;
		line-height: 22px;
		outline: none;
	}

	#main { 
		/* margin:0 auto; */
		overflow-x:visible;

		width: 1200px;
		margin: 0;
		height: 100vh;
	}

	#left{
		height: 100vh;
		width: 479px;
		z-index: 1;
		position: relative;
		float:left;
		border-right: 1px solid #EBECF1;
	}

	#l-top{
		float:left;
		width: 480px;
		height:106px;
		background: #4C63E8;
		background-size:contain;
		background-image:url("../asset/l-top@2x.jpg");
		position: absolute;
		top: 0;
	}
	#l-middle {
		/* width: 500px; */
		float:left;
		width: 480px;
		/* height: 411px; */
		background: #F6F7FB;
		position: absolute;
		top: 106px;
		/* height: -moz-calc(100% - (106px + 203px));
		height: -webkit-calc(100% - (106px + 203px)); */
		height: calc(100% - (106px + 162px));
		transition:all 0.3s;
	}

	#drag-area{
		font-size: 1.5em;
		height: 100%;
		width: 426px;
		line-height: 358px;
		display: inline-flex;
		/* border: 5px dashed #EBECF1; */
		transform: translateX(8px);
		border-radius: 0.6em;
		cursor: pointer;
		transition:all 0.3s;
	}

	/* #drag-container:hover #drag-area{
		background:#3f403b;
	} */

	#drag-area .empty-img{
		width: 100px;
		height:100px;
		/* margin: 0 auto; */
		/* transform: translateY(-40px); */
		position: absolute;
		left: 50%;
		top: calc(50% - (40px));
		transform: translateX(-50%) translateY(-50%);
	}

	#drag-area .empty-text{
		position: absolute;
		left: 50%;
		top: calc(50% + (40px));
		line-height: 18px;
		font-weight: bold;
		color: #C6C8D2;
		font-size: 18px;
		transform: translateX(-50%) translateY(-50%);
	}

	.window-area{
		position: absolute;
		top: 0;
		left: 0;
		opacity:0;
		width: 100%;
		height: 100%;
		background: rgba(255,255,255,0.94);
		z-index: 1000;
		display: inline-flex;
		visibility: hidden;
		transition:all 0.3s;
	}

	.window-scale-container{
		width: 50%;
		height: 50%;
		top: 25%;
		left: 25%;
		position: absolute;
		transition: all 0.3s;
	}

	.window-border{
		position: absolute;
		top: 17px;
		left: 17px;
		border-radius: 20px;
		width: calc(100% - (40px));
		height: calc(100% - (40px));
		border: 3px dashed #c3c3c3;
		transition: all 0.3s;
	}

	.window-loader{

		width: 120px;
		height: 120px;
		left: 50%;
		top: 50%;
		display: inline-block;
		position: absolute;
		transform-origin: 24px;
		transform: translate(-50%,-50%) scale(0);
		opacity: 0;
		transition: all 0.3s 0.2s;
	}

	.winloader-line-mask{
		position: absolute;
		width: 60px;
		height: 120px;
		overflow: hidden;
		-webkit-transform-origin: 60px;
		-moz-transform-origin: 60px;
		-ms-transform-origin: 60px;
		-o-transform-origin: 60px;
		transform-origin: 60px;
		-webkit-mask-image: -webkit-linear-gradient(top, #000000, rgba(0, 0, 0, 0));
		-webkit-animation: rotate 0.8s infinite linear;
		-moz-animation: rotate 0.8s infinite linear;
		-o-animation: rotate 0.8s infinite linear;
		animation: rotate 0.8s infinite linear;
	}

	.winloader-line{
		width: 120px;
		height: 120px;
		border-radius: 50%;
		box-shadow: inset 0 0 0 6px rgb(132, 132, 132);
	}



	.window-svg-container{
		height: 80px;
		position: absolute;
		top: calc(50% - (40px));
		left: 50%;
		transform: translate(-50%,-50%);
	}

	.window-svg-path{
		fill:#c5c5c5;
		transition: all 0.3s;
	}

	.window-text{
		font-size: 18px;
		width: 100%;
		text-align: center;
		display: inline-block;
		font-weight: bold;
		position: absolute;
		top: calc(50% + (40px));
		color: #b5b5b5;
		left: 50%;
		transform: translate(-50%,-50%);
		transition: all 0.3s;
	}


	#l-bottom{
		float:left;
		width: 480px;
		height:161px;
		background: #fff;
		position: absolute;
		border-top:1px solid #EBECF1;
		bottom: 0;
		transition: all 0.3s;
		overflow: hidden;
	}


	#slider{
		width: 480px;
		height: 79px;
		border-bottom:1px solid #EBECF1;
	}

	#slider-container{
		padding-top: 28px;
		padding-bottom: 30px;
		padding-left: 26px;
	}

	  input[type=range] {
		-webkit-appearance: none;
		width: 100%;
		margin-bottom: 1px;
	  }
	  input[type=range]:focus {
		outline: none;
	  }

	  input[type=range]::-webkit-slider-runnable-track {
		width: 100%;
		height: 20px;
		cursor: pointer;
		background-image: url("../asset/slider-background.png");
		background-size:100%;
	  }
	  input[type=range]::-webkit-slider-thumb {
		height: 20px;
		width: 8px;
		border-radius: 4px;
		background-image: url("../asset/slider-thumb.png");
		background-size:100%;
		cursor: pointer;
		-webkit-appearance: none;
		margin-top: 0px;
	  }



	label{
		font-weight: 100;
		color: #515666;
		font-size:18px;
		line-height: 20px;
	}

	#button-area{
		width: 480px;
		height: 80px;
		border-bottom:1px solid #EBECF1;
	}

	#button-container{
		padding: 16px 20px;
	}
/* 
	#button-container button {

	} */

	#totl{
		width: 480px;
		height: 39px;
		transition: all 0.3s;
	}

	#totl .item{
		position: relative;
		bottom:0px;
		padding: 12px 20px 10px 20px;
		cursor: initial;
	}
	
	#totl .item .fname{
		font-weight: 100;
		width: auto;
		margin-right: 10px;
		font-size: 14px;
		color:#515666;
	}

	#totl .item span{
		text-align: left;
		width: auto;
		color:#515666;
		font-size: 12px;
	}

	#totl .item #compressed-arrow{
		color: #2CD781;
		margin-left: 15px;
		margin-right: 15px;
		width:auto !important;
	}


	#totl .item span #compressed-size{
		font-weight: 100;
		margin-right: 20px;
		color:#515666
	}


	#totl .item span #compressed-percentage{
		font-weight: 100;
		color:#515666
	}

	#totl #title-container,#totl #meta-container{
		float: left;
	}

	

	#right{
		float: left;
		height: 720px;
		width: 720px;
	}

	#list {
		/* max-height: 411px; */
		height: 100%;
		overflow-y:scroll;
	}
	#list::-webkit-scrollbar {
	  width: 4px;
	  background: rgba(0,0,0,0);
	}
	#list::-webkit-scrollbar-thumb {
		/* background: rgba(0,0,0, 0.2 ); */
		background:rgb(187, 189, 197); 
		margin:2px;
		border-radius: 4px;
	}

	
	#list .item {
		width: 450px;
		height: 80px;
		padding: 0px;
		position: relative;
		margin: 0 auto;
		left: 2px;
		border-radius: 4px;
		margin-top: 10px;
		margin-bottom: 10px;
		background: white;
		cursor: initial;
		transition:all 0.4s;
		box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
		/* opacity: 0;
		transform: scale(0.6) translateY(60px); */
	}

	/* #list .item-deleted{
		opacity: 0;
		transform: scale(0.6) translateY(60px);
	} */

	/* #list .item-added{
		opacity: 1;
		transform: scale(1) translateY(0px);
	} */

	
	#list .active {
		/* background-color: #C9CFF2; */
		background-color:  #515666;
		cursor: initial;
		box-shadow: 0 18px 35px rgba(50,50,93,.1), 0 8px 15px rgba(0,0,0,.17);
	}

	#list .active .fname{
		color: white !important;
	}

	#list .active span{
		color: white;
	}


	#info-container{
		display: inline-block;
		float: left;
	}

	#list #meta-container{
		margin-left: 15px;
		margin-top: 3px;
		white-space: nowrap;
		overflow: hidden;
		max-width: 284px;
		text-overflow: ellipsis;
	}

	#list .item .fname {
		display:inline-block;
		width: 100%;
		/* font-size: 18px; */
		font-size: 21px;
		font-weight: 100;
		color: #515666;
		margin-top: 15px;
		margin-left: 15px;
		white-space: nowrap;
		overflow: hidden;
		max-width: 284px;
		text-overflow: ellipsis;
	}

	#list .item span {
		display:inline-block;
		width:auto;
		text-align:left;
		font-size: 12px;
	}

	#meta-container span{
		color: #515666;
		font-weight: 100;
		font-size: 15px;
	}

	#meta-container span b{
		font-weight: 100;
		margin-right: 20px;
	}

	#list #compressed-arrow{
		margin-left: 15px;
		margin-right: 15px;
		color: #2CD781;
	}


	#btn-container{
		display: inline-block;
		float: right;
		position: absolute;
		right: 0px;
	}

	#btn-container button{
		width: 120px;
		height: 48px;
		margin-top: 16px;
		margin-right: 16px;
		background:#7A8CF5;
	}

	#btn-container button span{
		width: auto !important;
	}

	

	@font-face {
		font-family: 'SFUIText';
		font-weight: bold;
		src: url("../asset/fonts/SF-UI-Text-Semibold.otf") format("opentype");
	}
	@font-face {
		font-family: 'SFUIText';
		font-weight: normal;
		src: url("../asset/fonts/SF-UI-Text-Regular.otf") format("opentype");
	}

	@font-face {
		font-family: 'icomoon';
		src:  url('../asset/fonts/icomoon.eot?5dbwyn');
		src:  url('../asset/fonts/icomoon.eot?5dbwyn#iefix') format('embedded-opentype'),
		  url('../asset/fonts/icomoon.ttf?5dbwyn') format('truetype'),
		  url('../asset/fonts/icomoon.woff?5dbwyn') format('woff'),
		  url('../asset/fonts/icomoon.svg?5dbwyn#icomoon') format('svg');
		font-weight: normal;
		font-style: normal;
	  }
	  
	  [class^="icon-"], [class*=" icon-"] {
		/* use !important to prevent issues with browser extensions that change fonts */
		font-family: 'icomoon' !important;
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
	  
		/* Better Font Rendering =========== */
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	  }
	  

	  .icon-Magic:before {
		content: "\e900";
	  }
	  .icon-download---FontAwesome:before {
		content: "\e901";
	  }
	  .icon-refresh---FontAwesome:before {
		content: "\e902";
	  }


	  .loader-container{
		width: 48px;
		height: 48px;
		left: 0;
		top: 0;
		display: inline-block;
		position: absolute;
		transform-origin: 24px;
		transform: translate(48px,5px)scale(0);
		opacity: 0;
		transition:all 0.3s;
	  }

	  .loader-container.show{
		transform:  translate(48px,5px)scale(0.75);
		opacity: 1;
	  }

	  .loader-container2{
		width: 48px;
		height: 48px;
		left: 0;
		top: 0;
		display: inline-block;
		position: absolute;
		transform-origin: 24px;
		transform: translate(23px,5px)scale(0);
		opacity: 0;
		transition:all 0.3s;
	  }

	  .loader-container2.show{
		transform:  translate(23px,5px)scale(0.75);
		opacity: 1;
	  }

	  

	  .compress-btn{
		position: absolute;
		width: 280px;
		font-size: 1em;
		color: white;
		height: 48px;
		padding: 0.2em 0.7em;
		font-weight:100;
		cursor:pointer;
		border-radius: 0.3em;
		background-color: #4C63E8;
		width: 280px;
		font-size: 1em;
		color: white;
		border: 1px solid #344cda;
		text-shadow: 0px 1px 2px #1e3096;
		transition:all 0.3s;
	  }

	  .download-all-btn{
		background-color: #44cb63;
		border: 1px solid #24bf71;
		text-shadow: 0px 1px 2px #177345;
	  }

	  .download-all-btn:active{
		  background-color: #0e6f3e !important;
	  }

	  /* .compress-btn:hover{
		background-color: #5970f1;
	  } */

	  .compress-btn:active{
		background-color: #1a2775;
	  }




	  .icon-Magic{
		position: absolute;
		top: 14px;
		left: 57px;
		transition:all 0.3s;
	  }

	  .compress-text{
		position: absolute;
		top: 13px;
		left: 82px;
		font-weight: 100;
		font-size: 16px;
	
	  }

	  .reset-btn{
		position: absolute;
		right: 20px;
		font-size: 16px;
		background-color: #8B94C9;
		color: white;
		width: 140px;
		border: 1px solid #838cbd;
		height: 48px;
		padding: 0.2em 0.7em;
		font-weight:100;
		cursor:pointer;
		border-radius: 0.3em;
		text-shadow: 0px 1px 2px #525777;
		/* transition: all 0.3s; */
	  }

	  .reset-btn:active{
		background-color: #5d6696;
	  }

	  .reset-text{
		position: absolute;
		right: 32px;
		top: 13px;
		font-size: 16px;
	  }

	  .icon-refresh---FontAwesome {
		position: absolute;
		left: 32px;
		top: 14px;
		transition:all 0.3s;
	  }

	  .icon-Magic.hide{
		  transform: scale(0.75);
		  opacity:0;
	  }
	  
	  .loader-circle {
		position: absolute;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2), inset 0 0 0 3px rgba(255, 255, 255, 0.2);
	  }
	  .loader-line-mask {
		position: absolute;
		width: 15px;
		height: 30px;
		overflow: hidden;
		-webkit-transform-origin: 15px;
		-moz-transform-origin: 15px;
		-ms-transform-origin: 15px;
		-o-transform-origin: 15px;
		transform-origin: 15px;
		-webkit-mask-image: -webkit-linear-gradient(top, #000000, rgba(0, 0, 0, 0));
		-webkit-animation: rotate 1.2s infinite linear;
		-moz-animation: rotate 1.2s infinite linear;
		-o-animation: rotate 1.2s infinite linear;
		animation: rotate 1.2s infinite linear;
	  }
	  .loader-line-mask .loader-line {
		width: 30px;
		height: 30px;
		border-radius: 50%;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2), inset 0 0 0 3px rgba(255, 255, 255, 1.0);
	  }
	  
	  @keyframes rotate
	  {
		from {transform: rotate(0deg);}
		to {transform: rotate(360deg);}
	  }
	
	
	
	
	
	
	
	
	
	